<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="cont">
        <%data.forEach((val,index)=>{%>
        <section>
            <h2>JOKE# <%=index+1%></h2>
            <p><%=val.typee%></p>
            <p><%=val.setup%></p>
            <p><%=val.punchline%></p>
          <a href="/viewdetails/<%=val.id%>">
            <button>View-Details</button>
        </a>
        </section>

        <%})%>







    </div>
</body>
</html>